.open-card(class="vachettes_#{card.vachettes}")
    table
        tr
            td
                .small-number= card.number
            td
                .vachettes= card.vachettes
            td
                .small-number= card.number
        tr
            td(colspan=3)
                .big-number= card.number
        tr
            td
                .small-number= card.number
            td
                .vachettes= card.vachettes
            td
                .small-number= card.number
